<div>
    <img src="http://localhost:8080/assets/img/burger.png" id="MainBurger" alt="Burger">
</div>

<br>

<h2>
    <center> Here are our current burgers in-stock: </center>
</h2>

<br>

<ul>
    {{#each burgers}}
    {{#unless devoured}}

    <li>
        <p>{{this.id}} {{this.burger_name}} </p>
        <button data-id="{{this.id}}" data-devoured="{{this.devoured}}" class="devour">Devour Burger</button>
    </li>

    {{/unless}}
    {{/each}}
</ul>

<br>
<h2>
    <center> Don't forget to clean up your burgers! </center>
</h2>
<br>

<ul>
    {{#each burgers}}
    {{#if devoured}}

    <li>
        <p>{{this.id}} {{this.burger_name}} </p>
        <button data-id="{{this.id}}" data-devoured="{{this.devoured}}" class="delete">Clear Up Burger</button>
    </li>

    {{/if}}
    {{/each}}
</ul>

<br>
<br>


<form class="create-form" id="submit-form">

    <div class="form-group">
        <label for="newBurger"> Burger Name </label>
        <input type="text" id="newBurger" name="name">
    </div>


    <button type="submit">Add Burger</button>

    <h3> Enter a burger name of your choice then click the Add Burger button </h3>

</form>